<h1>Products</h1>

<p>
<% @products.each do |product| %>
	  <li><%= link_to "#{product.name}", product_path(product) %> <br>
	  <%= product.formatted_price %>

  			
	  </li>

	  </p>


	<% end %>

	
